<div class="footer-wrap" id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        Вопросы                    </h4>

                    <ul class="v-list"><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-367"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/add-project/" class="menu-item menu-item-type-post_type menu-item-object-page">Как создать проект?</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-533"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/howitworks/" class="menu-item menu-item-type-post_type menu-item-object-page">Как все работает?</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-578"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/makemoney/" class="menu-item menu-item-type-post_type menu-item-object-page">Как заработать эксперту?</a></li></ul>
                </div>
                <div class="col-md-3">
                    <h4>
                        Информация                    </h4>

                    <ul class="v-list"><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-355"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/about-rates/" class="menu-item menu-item-type-post_type menu-item-object-page">Рейтинги экспертов</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-356"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/join-the-experts-group/" class="menu-item menu-item-type-post_type menu-item-object-page">Аккредитация экспертов</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-579"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/ad/" class="menu-item menu-item-type-post_type menu-item-object-page">Реклама или партнерство</a></li></ul>                </div>
                <div class="col-md-3">
                    <h4>
                        Документы                    </h4>

                    <ul class="v-list"><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-336"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/rules/" class="menu-item menu-item-type-post_type menu-item-object-page">Правила площадки</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-337"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/persondata/" class="menu-item menu-item-type-post_type menu-item-object-page">Политика</a></li></ul>                </div>
                <div class="col-md-3">
                    <h4>
                        Сотрудничество                    </h4>

                    <ul class="v-list"><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-338"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/join-the-team/" class="menu-item menu-item-type-post_type menu-item-object-page">Присоединиться к команде</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-353"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/white-label/" class="menu-item menu-item-type-post_type menu-item-object-page">Индивидуальные решения</a></li><li class=" menu-item menu-item-type-post_type menu-item-object-page" id="menu-item-354"><i class="fa fa-caret-right"></i><a href="https://we.guru/content/partnership-2/" class="menu-item menu-item-type-post_type menu-item-object-page">Инвестиционное партнерство</a></li></ul>                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="pull-left"><a href="mailto:contact@we.guru" class="mailBottom">contact@we.guru</a></h4>
                    <ul class="social-icons large">
                        <li class="facebook"><a href="https://www.facebook.com/inguruwetrust/" target="_blank"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a></li>
                        <li class="vk"><a href="https://vk.com/we.guru" target="_blank"><i class="fa fa-vk"></i><i class="fa fa-vk"></i></a></li>

                    </ul>
                    <span class="textooo"><a href="https://we.guru/content/happy-birthday/">ООО "КраудТехнологии"</a></span>
                </div>
                <div class="col-sm-7">
                    <img src="/static/img/payments.png" alt="payments" class="pull-right">
                </div>
            </div>

        </div>
    </div>
</div>