<div
        id="map"
        data-bgposition="center top"
        data-bgfit="cover"
        data-bgrepeat="no-repeat"
        style="width: 100%; height: 400px;"
>

</div>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO3k8FN3DKN0lL1-ryTKG-dnFO_KFxyi4&libraries=places"></script>
