<% include partials/head %>
<body>
<!--Header-->
<% include partials/header.ejs %>
<!--End Header-->
<div id="container" class="slideshow">
    <div class="fullwidthbanner-container" id="home">
        <% include partials/map.ejs %>
        <div class="container">
            <div class="v-spacer col-sm-12 v-height-big"></div>
            <% include partials/form_new_location.ejs %>
            <div class="v-spacer col-sm-12 v-height-big"></div>
            <% include partials/table_filter.ejs %>
        </div>
    </div>
    <br>
    <br>
    <div class="shadow-right"></div>
</div>
<% include partials/script_map.ejs %>
<!--Footer-Wrap-->
<% include partials/footer.ejs %>
<!--End Footer-Wrap-->
</div>
<div id="back-to-top" class="animate-top"><i class="fa fa-angle-up"></i></div>
<!-- Libs -->
<% include partials/include_scripts.ejs %>
</body>
</html>
